*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(227, 25, 110); */
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
    z-index: 99;
    
}

header .brand{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

 header.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  header .menu a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color; 
  }

  header .menu a:hover{
    color: black;
    background: #fff;
  }

  header .btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }


/* Top-Section */
.container{
  display: flex;
  border: 1px solid #000;
  height: 100%;
 bottom: 10px;
 font-family: Quantico, sans-serif;
}

.text{
  background: url(../images/contact.jpg);
    background-position:center;
    background-size:cover;
    background-blend-mode:darken;
    background-attachment: fixed;
    height: 615px;
    width:100rem;
    align-items: center;
    justify-content: center;
    display: grid;
    opacity: 0.7;
  }

  .text h1{
    font-size: 6rem;
    font-weight: 600;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-top: 3rem;
    font-family: Quantico, sans-serif;
  }

  .info{
    padding-left: 12rem;
  }

.contact-heading{
  height: 20rem;
  width: 75rem;
  padding: 20px;
  /* border: 1px solid black; */
  margin-top: 3rem;
  top:3rem
}
 .switzerland h2{
  background-color: #00546f;
  font-size: 3rem;
  color: #ffffff;
 }

 h2{
 padding-left: 7px;
 }

 .contact-heading p{
  padding: 4rem 0;
  font-size: 23px;
 }

 .contact-heading  p .contact{
 margin-left: 15rem;
 top: 10rem;
 }

 .contact-heading  p .map{
  margin-left: 20rem;
 top: 10rem;
 }

 .us h2{
  background-color: #00546f;
  font-size: 3rem;
  color: #ffffff;
 }

 .contact-heading-brazil{
margin-top: 10rem;
height: 20rem;
  width: 75rem;
  padding: 20px;
 }

 .brazil h2{
  background-color: #00546f;
  font-size: 3rem;
  color: #ffffff;
 }

 .contact-heading-brazil p{
  padding: 4rem 0;
  font-size: 23px;
 }

 .contact-heading-brazil p .brazil-contact{
  margin-left: 21rem;
  top: 10rem;
  }
 
  .contact-heading-brazil  p .brazil-map{
   margin-left: 20rem;
  top: 10rem;
  }

